<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteamCollectionApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SteamCollectionApp.Properties.Settings>
            <setting name="Numbers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>2096758176</string>
                        <string>3022017447</string>
                        <string>3018426177</string>
                        <string>2491445658</string>
                        <string>2066559813</string>
                        <string>2635946959</string>
                        <string>2066559813</string>
                        <string>3018426177</string>
                        <string>1167043224</string>
                        <string>2189362870</string>
                        <string>1767707642</string>
                        <string>121225687</string>
                        <string>852347216</string>
                        <string>539525706</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SteamCollectionApp.Properties.Settings>
    </userSettings>
</configuration>